* {
	margin: 0;
	padding: 0;
}
body {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #EAEAEA;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    font-family: Tahoma,"ו";
    font-size: 12px;
    position: relative;
    text-align:center;
}

.header {
    height:53px;
	width: 100%;
	overflow: hidden;
	color:#DCEFFE;
	border-bottom-color: #468DCD;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    background: url("../images/topbg.jpg") repeat-x ;
}

.logo {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/logo.jpg");
    background-origin: padding-box;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: auto auto;
    float: left;
    height: 50px;
    padding-bottom: 0;
    padding-left: 0px;
    padding-right: 0;
    padding-top: 0px;
    text-indent: -9999px;
    width: 200px;
}
.login-info {
    float: right;
    height: 30px;
    line-height: 30px;
    margin-bottom: 2px;
    padding-right: 5px;
}
.login-info a {
    color: #666666;
}
.login-info .colorA {
    color: #FB7403;
}
.login-info .phone-link {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/icon_phone.png");
    background-origin: padding-box;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto auto;
    float: right;
    margin-left: 25px;
    padding-left: 15px;
}
.login-info .phone-link a:hover {
    color: #FB7403;
}
.login-info .login-txt {
    float: right;
}
.login-info .login-txt a {
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;
}
.login-info .login-txt a:hover {
    color: #FB7403;
}

.engine_nav {
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position: left bottom;
    background-size: auto auto;
    float: left;
    height: 51px;
    padding-bottom: 0;
    padding-left: 40px;
    padding-right: 0;
    position: relative;
    font-family:"Microsoft YaHei";
}
.engine_nav ul {
	 margin-left: 120px;
	 list-style-type:none;
}
.engine_nav li {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 1px;
    text-align: center;
    width: 80px;
    height: 50px;
     list-style-type:none;
}
.engine_nav li a {
    color: #000;
    display: block;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration : none ;
}
.engine_nav li .current {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/navbg.jpg");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: #478DCD;
    -moz-border-radius: 10px;      /* Gecko browsers */
    -webkit-border-radius: 10px;   /* Webkit browsers */
    border-radius:10px;            /* W3C syntax */
}
.engine_nav li .visit {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #12c6f7;
    background-image: url("../images/light.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    -moz-border-radius: 10px;      /* Gecko browsers */
    -webkit-border-radius: 10px;   /* Webkit browsers */
    border-radius:10px;            /* W3C syntax */
}
.engine_nav li .current:hover {
    color: #666666;
}
..engine_nav li .visit:hover {
    color: #666666;
}
.engine_nav .engine_nav-guide {
    height: 30px;
    width: 51px;
}
.engine_nav .engine_nav-guide .current {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/bg_nav02.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: #478DCD;
    font-weight: 700;
    height: 50px;
    line-height: 28px;
}
.engine_nav .engine_nav-list {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/bg_navlist.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: auto auto;
    border-bottom-color: #999999;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-shadow: 2px 2px 5px #666666;
    display: none;
    height: 32px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    position: absolute;
    right: 0;

    top: 34px;
    width: 980px;
    z-index: 2899;
}
.engine_nav .engine_nav-list li {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    float: right;
    height: 16px;
    line-height: 16px;
    margin-left: 30px;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 8px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 8px;
    text-align: left;
    width: auto;
}
.engine_nav .engine_nav-list .on {
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #478DCD;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 2px;
    color: #478DCD;
    font-weight: 400;
    padding-left: 3px;
}
.engine_nav .engine_nav-list li a {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #666666;
    display: inline;
    font-weight: 400;
    height: 16px;
    line-height: 16px;
    padding-left: 5px;
}
.engine_nav .engine_nav-list li a:hover {
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #478DCD;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 2px;
    color: #478DCD;
    font-weight: 400;
    padding-left: 3px;
}


.area-func {
	position: absolute;
	z-index: 4999;
	left: 1px;
	top: 53px;
	width: 200px;
	height: 100%;
	overflow: hidden;
	visibility: hidden;
    -moz-border-radius: 10px;      /* Gecko browsers */
    -webkit-border-radius: 10px;   /* Webkit browsers */
    border-radius:10px;            /* W3C syntax */
}

.func-wrap {
	width: 100%;
	height: 100%;
	padding: 0 0 0 0;
	text-align: center;
	position: relative;
}

#func-div {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

#func-ul { /*list-style: none;*/
	padding: 2px;
	margin: 0 auto;
	position: relative;
	height: 100%;
	width: 90%;
	font-size: 14px;
	color: #196760;
	font-weight: bold;
	overflow: auto;
	background-color: #8fe4fd;
}

#panel_arrow {
	z-index: 5000;
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 55px;
	width: 32px;
	height: 72px;
	color:#fff;
    background-color: #a2a0a1;
    -moz-border-radius: 10px;      /* Gecko browsers */
    -webkit-border-radius: 10px;   /* Webkit browsers */
    border-radius:10px;            /* W3C syntax */
}

.collapse_right {
	background: transparent url(../images/icons/goright.png) no-repeat
		scroll 0 0 !important;
	height: 32px;
	width: 32px;
}

.expand_right {
	background: transparent url(../images/icons/goleft.png) no-repeat
		scroll 0 0 !important;
	height: 32px;
	width: 32px;
}

#cover {
	filter: alpha(opacity =80);
	opacity: 0.8;
	display: none;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 4000;
	position: absolute;
	left: 0;
	top: 52px;
}

.footer{
	width:100%;
	height:50px;
    background: #bcbfc1;
}








