<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cars.iivmshome.sysmanage.dao.AlarmInfoMapper">
  <resultMap id="BaseResultMap" type="com.cars.iivmshome.sysmanage.model.AlarmInfoModel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="alarm_type" jdbcType="VARCHAR" property="alarmType" />
    <result column="alarm_title" jdbcType="VARCHAR" property="alarmTitle" />
    <result column="alarm_starttime" jdbcType="BIGINT" property="alarmStarttime" />
    <result column="alarm_endtime" jdbcType="BIGINT" property="alarmEndtime" />
    <result column="alarm_desc" jdbcType="VARCHAR" property="alarmDesc" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
  </resultMap>
   <resultMap id="BaseResultInteger" type="com.cars.iivmshome.base.vo.BaseCountsVo">
		<result column="count" property="counts" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, alarm_type, alarm_title, alarm_starttime, alarm_endtime, alarm_desc, ip
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from alarm_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  
   <select id="selectTotals" parameterType="java.util.Map"  resultMap="BaseResultInteger">
    select 
    count(1) as count
    from alarm_info
    where 1=1
      <if test="alarm_type != null" >
       and  alarm_type = #{alarm_type,jdbcType=VARCHAR}
      </if>
      <if test="ip != null" >
       and  ip = #{ip,jdbcType=VARCHAR}
      </if>
   	 <if test="alarm_starttime != null" >
       and alarm_starttime >= #{alarm_starttime,jdbcType=BIGINT}
      </if>
      <if test="alarm_endtime != null" >
       and #{alarm_endtime,jdbcType=BIGINT} > alarm_endtime 
      </if>
  </select>
  
   <select id="selectAll" parameterType="java.util.Map"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from alarm_info
    where 1=1
      <if test="alarm_type != null" >
       and  alarm_type = #{alarm_type,jdbcType=VARCHAR}
      </if>
      <if test="ip != null" >
       and  ip = #{ip,jdbcType=VARCHAR} 
      </if>
   	 <if test="alarm_starttime != null" >
       and alarm_starttime >= #{alarm_starttime,jdbcType=BIGINT}
      </if>
      <if test="alarm_endtime != null" >
       and #{alarm_endtime,jdbcType=BIGINT} > alarm_endtime 
      </if>
      limit	#{start_point,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Oct 29 11:12:39 CST 2017.
    -->
    delete from alarm_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cars.iivmshome.sysmanage.model.AlarmInfoModel">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Oct 29 11:12:39 CST 2017.
    -->
    insert into alarm_info (id, alarm_type, alarm_title, 
      alarm_starttime, alarm_endtime, alarm_desc, 
      ip)
    values (#{id,jdbcType=INTEGER}, #{alarmType,jdbcType=VARCHAR}, #{alarmTitle,jdbcType=VARCHAR}, 
      #{alarmStarttime,jdbcType=BIGINT}, #{alarmEndtime,jdbcType=BIGINT}, #{alarmDesc,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cars.iivmshome.sysmanage.model.AlarmInfoModel">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Oct 29 11:12:39 CST 2017.
    -->
    insert into alarm_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="alarmType != null">
        alarm_type,
      </if>
      <if test="alarmTitle != null">
        alarm_title,
      </if>
      <if test="alarmStarttime != null">
        alarm_starttime,
      </if>
      <if test="alarmEndtime != null">
        alarm_endtime,
      </if>
      <if test="alarmDesc != null">
        alarm_desc,
      </if>
      <if test="ip != null">
        ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="alarmType != null">
        #{alarmType,jdbcType=VARCHAR},
      </if>
      <if test="alarmTitle != null">
        #{alarmTitle,jdbcType=VARCHAR},
      </if>
      <if test="alarmStarttime != null">
        #{alarmStarttime,jdbcType=BIGINT},
      </if>
      <if test="alarmEndtime != null">
        #{alarmEndtime,jdbcType=BIGINT},
      </if>
      <if test="alarmDesc != null">
        #{alarmDesc,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cars.iivmshome.sysmanage.model.AlarmInfoModel">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Oct 29 11:12:39 CST 2017.
    -->
    update alarm_info
    <set>
      <if test="alarmType != null">
        alarm_type = #{alarmType,jdbcType=VARCHAR},
      </if>
      <if test="alarmTitle != null">
        alarm_title = #{alarmTitle,jdbcType=VARCHAR},
      </if>
      <if test="alarmStarttime != null">
        alarm_starttime = #{alarmStarttime,jdbcType=BIGINT},
      </if>
      <if test="alarmEndtime != null">
        alarm_endtime = #{alarmEndtime,jdbcType=BIGINT},
      </if>
      <if test="alarmDesc != null">
        alarm_desc = #{alarmDesc,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cars.iivmshome.sysmanage.model.AlarmInfoModel">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Oct 29 11:12:39 CST 2017.
    -->
    update alarm_info
    set alarm_type = #{alarmType,jdbcType=VARCHAR},
      alarm_title = #{alarmTitle,jdbcType=VARCHAR},
      alarm_starttime = #{alarmStarttime,jdbcType=BIGINT},
      alarm_endtime = #{alarmEndtime,jdbcType=BIGINT},
      alarm_desc = #{alarmDesc,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>