<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cars.iivmshome.sysmanage.dao.CameraInfoMapper">
  <resultMap id="BaseResultMap" type="com.cars.iivmshome.sysmanage.model.CameraInfoModel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="port" jdbcType="INTEGER" property="port" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="limit_scan_nums" jdbcType="INTEGER" property="limitScanNums" />
  </resultMap>
  <sql id="Base_Column_List">
    id, port, ip, username, password, name, pid, limit_scan_nums
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from camera_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from camera_info
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  
    <select id="isValidByIP" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from camera_info
    where 
    ip=#{ip,jdbcType=VARCHAR} 
     <if test="id != null">
     and id != #{id,jdbcType=INTEGER}
      </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from camera_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cars.iivmshome.sysmanage.model.CameraInfoModel">
    insert into camera_info (id, port, ip, 
      username, password, name, 
      pid, limit_scan_nums)
    values (#{id,jdbcType=INTEGER}, #{port,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{pid,jdbcType=INTEGER}, #{limitScanNums,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cars.iivmshome.sysmanage.model.CameraInfoModel">
    insert into camera_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="port != null">
        port,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="limitScanNums != null">
        limit_scan_nums,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="port != null">
        #{port,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="limitScanNums != null">
        #{limitScanNums,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cars.iivmshome.sysmanage.model.CameraInfoModel">
    update camera_info
    <set>
      <if test="port != null">
        port = #{port,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="limitScanNums != null">
        limit_scan_nums = #{limitScanNums,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cars.iivmshome.sysmanage.model.CameraInfoModel">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Oct 14 01:31:26 CST 2017.
    -->
    update camera_info
    set port = #{port,jdbcType=INTEGER},
      ip = #{ip,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER},
      limit_scan_nums = #{limitScanNums,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>